.vscode/**
.vscode-test/**
src/**
!src/webview/html/**
node_modules/**
out/test/**
out/api/**
out/commands/**
out/providers/**
out/services/**
out/utils/**
out/webview/**
test-fixtures/**
.gitignore
.vscodeignore
*.map
*.ts
!*.d.ts
tsconfig.json
esbuild.js
.vscode-test.mjs
.eslintrc.json
CONTRIBUTING.md
docs/**
.coverage/**
coverage/**
.nyc_output/**
*.vsix
.env
.env.*
